root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.astro,*.js,*.ts,*.css,*.scss,*.html,*.md,*.json,*.json.ts,*.yml}]
indent_size = 2
tab_width = 2
indent_style = space