:root {
  --margin-pc-container: 20px;
  --padding-pc-container: 30px;
  --margin-tablet-container: 15px;
  --padding-tablet-container: 20px;
  --width-tablet-container: 768px;
  --width-pc-container: 992px;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: greenyellow;
}

@media screen and (min-width: 767px) {

}